@pref: Twilio-Channel;

.@{pref} {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    max-width: 640px;
    min-width: 320px;
    min-height: 100px;
    width: 100%;
    height: 100%;
}

.@{pref}-Main {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

.@{pref}-MessageList {
    display: flex;
    margin-top: auto;
    overflow: hidden;
}

.@{pref}-Input {
    flex-shrink: 0;
}

.Twilio-Embedded {
    .@{pref} {
        max-width: none;
    }
}

