@pref: Twilio-Chrome;

.@{pref} {
    background-color: #ffffff;
    height: 24px;
}

.@{pref}-Close {
    text-align: center;
    width: 24px;
    height: 24px;
    float: right;

    svg {
        stroke: #666;
        margin-top: 7px;
        width: 9px;
        height: 9px;
    }
}