@pref: Twilio-ChannelInput;

.@{pref} {
    padding-left: 3.75%;
    padding-right: 3.75%;
}

.@{pref}-UpperLine {
    display: none;
    height: 1px;
}

.@{pref}-LowerArea {
    display: flex;
    flex-direction: row;
    padding-top: 8px;
    padding-bottom: 8px;
}

.@{pref}-TextAreaContainer{
    flex: 1 0 auto;
    margin-right: 8px;
}

.@{pref}-TextArea {
    max-height: 82px;
    border: 0px;
    display: block;
    font-size: 13px;
    font-family: "Open Sans";
    width: 100%;
    resize: none;
    outline: none;
    box-sizing: border-box;
    padding-left: 0px;
    padding-right: 4px;
    padding-top: 8px;
    padding-bottom: 8px;
    overflow-x: hidden;
    overflow-y: auto;
}

.@{pref}-SendButtonContainer{
    border-radius: 18px;
    display: flex;
    position: relative;
    margin-left: auto;
    margin-top: auto;
    width: 36px;
    height: 36px;
    overflow: hidden;

    &:hover > .@{pref}-ButtonOverlay {
        opacity: 0.15;
    }
}

.@{pref}-SendButtonContainer-Disabled {
    .@{pref}-ButtonOverlay {
        display: none;
    }

    svg {
        opacity: 0.5;
    }
}

.@{pref}-SendButton {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 10px 10px 10px 8px;
    font-size: 18px;
    border: none;
    border-radius: inherit;
}

.@{pref}-ButtonOverlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: inherit;
    pointer-events: none;
}

.Twilio {

    .@{pref}.@{pref}-Bubble {
        background: transparent;

        .@{pref}-TextArea {
            padding-left: 8px;
            padding-top: 8px;
            padding-bottom: 8px;
            padding-right: 8px;
            border-radius: 18px;
        }

    }

    .@{pref}.@{pref}-Line {
        background: transparent;

        .@{pref}-TextArea {
            background: transparent;
        }

        .@{pref}-UpperLine {
            display: block;
        }
    }

    .@{pref}.@{pref}-Boxed {
        .@{pref}-TextArea {
            background: transparent;
        }
    }
}