@component: Twilio-ChannelHeader;

.@{themeName} {

    .@{component} {
        background: @channel-header-background;
        border-bottom-width: @channel-header-border-bottom-width;
    }

    .@{component}-FirstLine {
        color: @channel-header-color;
    }
}