@component: Twilio-MessageList;

.@{themeName} {

    .@{component}-TypingIndicator {

        span {
            color: @typing-indicator-color;
        }

    }

    .@{component}-SeparatorLine {
        border-color: @date-separator-line-color;
    }

    .@{component}-SeparatorText {
        color: @date-separator-text-color;
    }

}