@themeName: Twilio-DarkTheme;

@channel-chrome-background-color: #222222;
@channel-chrome-svg-stroke: #ffffff;

@channel-header-background: #222222;
@channel-header-border-bottom-width: 0px;
@channel-header-color: #ffffff;

@channel-root-background: #f3f3f3;;
@channel-main-background: linear-gradient(to bottom, #000000, #3c3c3c);

@input-field-background: #222222;
@input-field-color: #ffffff;
@input-placeholder-color: #999999;
@input-separator-line-background-color: #444444;

@send-button-background-color: #222222;
@send-button-color: #ffffff;
@send-button-overlay-color: #000000;

@avatar-background-color: #3a3a3a;
@avatar-color: #e8e8e8;

@bubble-container-others-background-color: #3a3a3a;
@bubble-container-others-header-color: #cccccc;
@bubble-container-others-body-color: #ffffff;

@bubble-container-me-background-color: #555c61;
@bubble-container-me-header-color: #ffffff;
@bubble-container-me-body-color: #ffffff;

@typing-indicator-color: #cccccc;

@read-status-color: #999999;

@date-separator-line-color: #444444;
@date-separator-text-color: #cccccc;


@import './components/index.less';