@import './common.less';

.import-dark() {
    @import (multiple) './dark-theme.less';
}
.import-light() {
    @import (multiple) './light-theme.less';
}
.import-medium() {
    @import (multiple) './medium-theme.less';
}


.import-dark();
.import-light();
.import-medium();