@themeName: Twilio-LightTheme;

@channel-chrome-background-color: #ffffff;
@channel-chrome-svg-stroke: #999999;

@channel-header-background: #ffffff;
@channel-header-border-bottom-width: 1px;
@channel-header-color: #222222;

@channel-root-background: #f3f3f3;;
@channel-main-background: #ffffff;

@input-field-background: #f6f6f6;
@input-field-color: #444444;
@input-placeholder-color: #999999;
@input-separator-line-background-color: #e6e6e6;

@send-button-background-color: #f6f6f6;
@send-button-color: #444444;
@send-button-overlay-color: #000000;

@avatar-background-color: #ecf0f4;
@avatar-color: #666666;

@bubble-container-others-background-color: #ecf0f4;
@bubble-container-others-header-color: #666666;
@bubble-container-others-body-color: #222222;

@bubble-container-me-background-color: #ccd2d8;
@bubble-container-me-header-color: #444444;
@bubble-container-me-body-color: #222222;

@typing-indicator-color: #666666;

@read-status-color: #666666;

@date-separator-line-color: #e6e7e9;
@date-separator-text-color: #222222;


@import './components/index.less';
